Saved/
Binaries/
Intermediate/
DerivedDataCache/
.vs/
__ExternalActors__/
__ExternalObjects__/
Content/Characters/
Content/Meshes/
Content/StarterContent/
Content/LevelPrototyping/
Content/ThirdPerson/
Content/Variant_Combat/
Content/Variant_Platforming/
Content/Variant_SideScrolling/
Content/Input/
*.VC.db
*.VC.opendb
